__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
.uv
.uv-cache
.cache
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
.DS_Store
.git
.gitignore
frontend/node_modules
frontend/dist
node_modules
npm-debug.log
yarn-error.log
